@font-face {
 font-family: "TrajanPro";
 src: local("TrajanPro"), url(../assets//fonts/TrajanPro-Bold.otf);
}

@font-face {
 font-family: "TrajanBold";
 src: local("TrajanBold"), url(../assets//fonts/Trajan-Bold.ttf);
}
