@keyframes TransitioningModalBackground {
 0% {
  background-position: 1% 0%;
 }
 50% {
  background-position: 99% 100%;
 }
 100% {
  background-position: 1% 0%;
 }
}

/* The Modal (background) */
.modal {
 display: flex;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 background-color: rgb(0, 0, 0);
 background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
 margin: auto;
 padding: 20px;
 border: 1px solid rgb(0, 0, 0);
 height: fit-content;
 width: clamp(40%, 50%, 60%);
 color: rgb(221, 201, 14);
 font-family: TrajanPro;
 position: relative;
 background-size: 400% 400%;
 box-shadow: inset 0px -2px 4px 2px;
 background-image: (linear-gradient(270deg, #1c036d, #06010d));
 animation: TransitioningModalBackground 10s ease infinite;
 // to ease the button growth on hover
 transition: 0.6s;

 @media screen and (max-width: 992px) {
  margin-top: 50%;
 }
}

.modal-items {
 display: flex;
 flex-direction: column;
}

/* The Close Button */
.close {
 color: #aaaaaa;
 float: right;
 font-size: 32px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: #000;
 text-decoration: none;
 cursor: pointer;
}
